[submodule "third_party/kilix-game-kit"]
	path = third_party/kilix-game-kit
	url = https://github.com/itsmygithubacct/kilix-game-kit.git
[submodule "third_party/chip-sequencer"]
	path = third_party/chip-sequencer
	url = https://github.com/itsmygithubacct/chip-sequencer.git
